@font-face {
	font-family: 'Open Sans Light';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('../fonts/open-sans-v15-latin-300.woff2') format('woff2'),
		url('../fonts/open-sans-v15-latin-300.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans SemiBold';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('../fonts/open-sans-v15-latin-600.woff2') format('woff2'),
		url('../fonts/open-sans-v15-latin-600.woff') format('woff');
}

* { margin: 0 auto; }

html, body { height: 1vh; }

html {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

body {
	font-family: "Open Sans SemiBold";
	font-size: 18px;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	color: #fff;
	margin-bottom: 0;
}

::selection { background-color: #6578a9; color: #fff; }

.container {
	width: 50%;
	height: 100px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
}

@media (min-width: 576px) {
	body { font-size: 18px; }
	.container { max-width: 540px; }
}

@media (min-width: 768px) {
	body { font-size: 24px; }
	.container { max-width: 720px; }
}

@media (min-width: 992px) {
	body { font-size: 32px; }
	.container { max-width: 960px; }
}

@media (min-width: 1200px) {
	body { font-size: 38px; }
	.container { max-width: 1140px; }
}

@media (min-width: 1600px) {
	body { font-size: 42px; }
	.container { max-width: 1350px; }
}

.search-with { margin-bottom: 30px; }

.caret {
	display: inline-block;
	position: relative;
	top: -0.05em;
}

.hidden { opacity: 0; }

.search-input {
	font-family: 'Open Sans Light';
	font-size: 24px;
	color: #fff;
	caret-color: #6578a9;
	background: rgba(52, 61, 85, 0.5);
	padding: 10px;
	border: 2px solid #343d55;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	width: 100%;
}

input:focus {
	-webkit-box-shadow: 0 0 10px 0 rgba(101, 120, 169, 0.5);
	box-shadow: 0 0 10px 0 rgba(101, 120, 169, 0.5);
	outline: none;
}
