@font-face {
	font-family: 'Open Sans Light';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('webfonts/open-sans-v15-latin-300.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans SemiBold';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('webfonts/open-sans-v15-latin-600.woff2') format('woff2');
}

* { margin: 0 auto; }

::selection {
	background-color: #6578a9;
	color: #fff;
}

html, body { height: 100vh; }

html {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

body {
	display: flex;
	align-items: center;
	font-family: 'Open Sans SemiBold';
	font-size: 18px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	color: #fff;
	margin-bottom: 0;
}

.container {
	width: 50%;
	text-align: center;
}

.search-with { margin: -100px 0 15px 0; }

.caret {
	display: inline-block;
	position: relative;
	top: -0.05em;
}

.hidden { opacity: 0; }

.search-input {
	font-family: 'Open Sans Light';
	font-size: 16px;
	color: #fff;
	caret-color: #6578a9;
	background-color: rgba(52,61,85,0.5);
	padding: 6px;
	border: 2px solid #343d55;
	border-radius: 14px;
	transition: all 0.5s ease-in-out;
	width: 100%;
}

input:focus {
	box-shadow: 0 0 10px 0 rgba(101,120,169,0.5);
	outline: none;
}

@media (min-width: 320px) {
	body { font-size: 18px; }
	.container { width: 75%; max-width: 290px; }
	.search-input { font-size: 16px; }
}

@media (min-width: 576px) {
	body { font-size: 20px; }
	.container { max-width: 550px; }
	.search-input { font-size: 18px; }
}

@media (min-width: 768px) {
	body { font-size: 24px; }
	.container { max-width: 720px; }
	.search-input { font-size: 18px; }
}

@media (min-width: 992px) {
	body { font-size: 32px; }
	.container { max-width: 960px; }
	.search-input { font-size: 20px; }
}

@media (min-width: 1200px) {
	body { font-size: 38px; }
	.container { max-width: 992px; }
	.search-input { font-size: 24px; }
}

@media (min-width: 1600px) {
	body { font-size: 42px; }
	.container { max-width: 1350px; }
	.search-input { font-size: 24px; }
}
